# Virtual Environment
.venv/
venv/
env/
ENV/
bin/

# Python Bytecode & Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# PyInstaller / Build Artifacts
build/
dist/

# IDE & Editor Settings
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Dev
dev/